body{
    background-color: white !important;

}
.icon{
    margin-right: 10%;
}
.icon-li{
    color:grey;
}

.menu.d-flex li{
    text-decoration: none;
    list-style-type:none ;
    margin-left: 15px;
}
.menu.d-flex li a{
    color: black;
    text-decoration: none;
  

}
.menu.d-flex li a:hover{
    background-color:#ff6600
}
.about{
    background-color:#ff6600
}

.logo img{
    height: 15.2vh;
    width: 10vw;
    
        background-color: #fdd831;
        position: absolute;
        top: -2.5rem;
        z-index: 11;
        left: .11rem;
        
        padding: .75rem 1rem;
        
        padding: 1.15rem .75rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;

        
            opacity: 1;
            transition: opacity 400ms;
            transition-delay: 0ms;
    
  
}
.d-flex{
    position: relative;
    margin-left: 150px;
}
.our-vision{
    position: relative;
    text-align: center;
    color: white;
}
.vision h1{
    position: absolute;
    top: 50px;
    
    left: 45%;
    color: #ff6600;
    
    text-decoration: underline;
    
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: -1rem;
    line-height: 1.1;
    text-underline-offset: 10px;

}
.vision p{
    position: absolute;
    top: 130px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 500;
    font-size: 20px;
}
:root{
    --clr-neutral-900:hsl(207,19%,9%);
    --clr-neutral-100:hsl(0,0%,100%);
    --clr-neutral-400:hsl(142,90%,61%);

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    display: grid;
    
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    padding-right: 15%;
}
.card{
    color: var(--clr-neutral-100);
    background-image: url(/Images/card/undraw_Powerful_re_frhr.svg);
    background-size: cover;
    padding: 11.5rem 0 0;
    text-align: center;
    justify-items: center;
    
    
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.05);
}
 .card-content{
     --padding: 1.5rem;
     padding:var(--padding);
     background: linear-gradient(
          hsl(0 0% 0% / 0),
          hsl(20 0% 0% / 0.3) 20%,
          hsl(0 0% 0% / 1)
     );
     transform: translateY(60%);
     transition: transform 500ms ease;
     transition-delay:500ms;
 }
 .card-content >  *:not(.card-title) {
     opacity: 0;
     transition: opacity 500ms linear;
 }
 .card:hover .card-content{
     transform: translateY(0);

 }

 .card:hover .card-content > *:not(.card-title){
     opacity: 1;
 }
 .card-title{
     position: relative;
     width: max-content;
     
 } 

 .card-title::after{
     content: "";
     position: absolute;
     height: 4px;
     left: calc(var(--padding) * -1);
     bottom: -2px;
     width: calc(100% + var(--padding));
     background: var(--clr-neutral-400);
     transform: scaleX(0);
     transition: transform 500ms ease;
 }
 .card:hover .card-title::after{
     transform: scaleX(1);
 }
 .card-body{
     color: rgb(255 255 255 / 0.85);
 }
 .button{
     cursor: pointer;
     display: inline;
     text-decoration: none;
     color: var(--clr-neutral-900);
     background-color: var(--clr-neutral-400);
     padding: 0.5em 1.25em;
     border-radius: 0.25em;
     margin-left: 15px;
 }
 .button:hover,
 .button:focus{
     background-color: var(--clr-neutral-900);
 }
 /* card-1 */
.card-1{
    color: var(--clr-neutral-100);
    background-image: url(/Images/card/undraw_people_tax5.svg);
    background-size: cover;
    padding: 15rem 0 0;
   
    
    
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    
    
}
.card-1:hover{
    transform: scale(1.05);
}
 .card-content-1{
     --padding: 1.5rem;
     padding:var(--padding);
     background: linear-gradient(
          hsl(0 0% 0% / 0),
          hsl(20 0% 0% / 0.3) 20%,
          hsl(0 0% 0% / 1)
     );
     transform: translateY(60%);
     transition: transform 500ms ease;
     transition-delay:500ms;
 }
 .card-content-1 >  *:not(.card-title-1) {
     opacity: 0;
     transition: opacity 500ms linear;
 }
 .card-1:hover .card-content-1{
     transform: translateY(0);

 }

 .card-1:hover .card-content-1 > *:not(.card-title-1){
     opacity: 1;
 }
 .card-title-1{
     position: relative;
     width: max-content;
     
 } 

 .card-title-1::after{
     content: "";
     position: absolute;
     height: 4px;
     left: calc(var(--padding) * -1);
     bottom: -2px;
     width: calc(100% + var(--padding));
     background: var(--clr-neutral-400);
     transform: scaleX(0);
     transition: transform 500ms ease;
 }
 .card-1:hover .card-title-1::after{
     transform: scaleX(1);
 }
 .card-body-1{
     color: rgb(255 255 255 / 0.85);
 }
 .button-1{
     cursor: pointer;
     display: inline;
     text-decoration: none;
     color: var(--clr-neutral-900);
     background-color: var(--clr-neutral-400);
     padding: 0.5em 1.25em;
     border-radius: 0.25em;
     margin-left: 15px;
 }
 .button-1:hover,
 .button-1:focus{
     background-color: var(--clr-neutral-900);
 }
 /* card-2 */
 .card-2{
    color: var(--clr-neutral-100);
    background-image: url(/Images/card/undraw_Celebration_re_kc9k.svg);
    background-size: cover;
    padding: 15rem 0 0;
    text-align: center;
    justify-items: center;
    
    
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    size: 100px;
    
}
.card-2:hover{
    transform: scale(1.05);
}
 .card-content-2{
     --padding: 1.5rem;
     padding:var(--padding);
     background: linear-gradient(
          hsl(0 0% 0% / 0),
          hsl(20 0% 0% / 0.3) 20%,
          hsl(0 0% 0% / 1)
     );
     transform: translateY(60%);
     transition: transform 500ms ease;
     transition-delay:500ms;
 }
 .card-content-2 >  *:not(.card-title-2) {
     opacity: 0;
     transition: opacity 500ms linear;
 }
 .card-2:hover .card-content-2{
     transform: translateY(0);

 }

 .card-2:hover .card-content-2 > *:not(.card-title-2){
     opacity: 1;
 }
 .card-title-2{
     position: relative;
     width: max-content;
     
 } 

 .card-title-2::after{
     content: "";
     position: absolute;
     height: 4px;
     left: calc(var(--padding) * -1);
     bottom: -2px;
     width: calc(100% + var(--padding));
     background: var(--clr-neutral-400);
     transform: scaleX(0);
     transition: transform 500ms ease;
 }
 .card-2:hover .card-title-2::after{
     transform: scaleX(1);
 }
 .card-body-2{
     color: rgb(255 255 255 / 0.85);
 }
 .button-2{
     cursor: pointer;
     display: inline;
     text-decoration: none;
     color: var(--clr-neutral-900);
     background-color: var(--clr-neutral-400);
     padding: 0.5em 1.25em;
     border-radius: 0.25em;
     margin-left: 15px;
 }
 .button-2:hover,
 .button-2:focus{
     background-color: var(--clr-neutral-900);
 }
 